<div data-ui-tabs="" id="tabs" >
  <ul>
    <li><a href="#tabs-1" data-msg="tab_general"></a></li>
  </ul>
  <div id="tabs-1" class="tab">
      <ul class="eip-expanded clearfix">
        <li><div class="expanded-title" data-msg="title_report_instance_days"></div><div class="expanded-value" data-text="report.days"></div></li> 
        <li><div class="expanded-title" data-msg="title_report_instance_cpuUsage"></div><div class="expanded-value" data-text="report.cpuUsage"></div></li>
        <li><div class="expanded-title" data-msg="title_report_instance_totalNetIn"></div><div class="expanded-value" data-text="report.totalNetIn"></div></li>
        <li><div class="expanded-title" data-msg="title_report_instance_totalNetOut"></div><div class="expanded-value" data-text="report.totalNetOut"></div></li>
        <li><div class="expanded-title" data-msg="title_report_instance_externalNetIn"></div><div class="expanded-value" data-text="report.externalNetIn"></div></li>
        <li><div class="expanded-title" data-msg="title_report_instance_externalNetOut"></div><div class="expanded-value" data-text="report.externalNetOut"></div></li>
        <li><div class="expanded-title" data-msg="title_report_instance_diskRead"></div><div class="expanded-value" data-text="report.diskRead"></div></li>
        <li><div class="expanded-title" data-msg="title_report_instance_diskWrite"></div><div class="expanded-value" data-text="report.diskWrite"></div></li> 
        <li><div class="expanded-title" data-msg="title_report_instance_diskIOPSRead"></div><div class="expanded-value" data-text="report.diskIOPSRead"></div></li>
        <li><div class="expanded-title" data-msg="title_report_instance_diskIOPSWrite"></div><div class="expanded-value" data-text="report.diskIOPSWrite"></div></li>
        <li><div class="expanded-title" data-msg="title_report_instance_diskTimeRead"></div><div class="expanded-value" data-text="report.diskTimeRead"></div></li>
        <li><div class="expanded-title" data-msg="title_report_instance_diskTimeWrite"></div><div class="expanded-value" data-text="report.diskTimeRead"></div></li>
      </ul>
  </div>
</div>
<div style="clear:both"></div>
